.top-bar, .top-bar ul { //Any ul that's under the top bar
  background-color: $nav-background
}

.top-bar {
  .menu-text {
    color: $nav-text-color
  }

  .menu > .menu-text > a {
    display: inline;
    padding: 0;
  }

  .active-Link {
    font-weight: bold;
  }
}
